.home {
  background-image: url(/client/src/pages/home/1625189927_25-kartinkin-com-p-pitstsa-fon-krasivie-foni-27.jpg);
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
}
.text {
  text-align: center;
  font-size: 40px;
  color: wheat;
  padding-top: 20px;
  display: flex;
  gap: 5px;
}
