.functionalWindow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  border: 1px solid brown;
  border-radius: 5px;
  flex-grow: 1;
  margin: 20px;
}

.blockImage {
  width: 30%;
  display: flex;
  text-align: center;
}

.blockImage img {
  max-width: 200px;
  height: 100px;
}

.name {
  font-size: 30px;
  padding-left: 10px;
}
.size {
  font-size: 20px;
  margin-top: 50px;
  position: relative;
  right: 100px;
}
.blockCounter {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.minus {
  font-size: 20px;
  border-radius: 50%;
  border-color: orange;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.plus {
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: orange;
  cursor: pointer;
}
.count {
  font-size: 20px;
}
.blockPrice {
  font-size: 20px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_clear {
  font-size: 1rem;
  border-radius: 50%;
  border-color: orange;
  width: 30px;
  height: 30px;
  color: red;
  cursor: pointer;
}
